body{
  background-color: rgb(142, 146, 184);
  
}
h4{
  color: #fff;
}
  /* Estilos para la clase "container" */
  .container{
  display: flex;
  justify-content: center;  
  padding-top: 0%;
  padding-left:left;
  margin: 10px;
  width: 13050%;
  height: 520px;
  max-width:1350px;
  outline:2px solid;
  outline-color: #b4c1ca;
  background: transparent;
  backdrop-filter: blur(20px);
  color: #7a4545;
  }
  .contenedor2 {
    padding-left: 5px;
    margin-top: 5px;
    margin: 10px;
    width: 1100px;
    height: 480px;
    outline:2px solid;
    outline-color: #b4c1ca;
    background: transparent;
    backdrop-filter: blur(20px);
    color: #fff;
    }

    aside {
      padding-left: 5px;
      margin-top: 5px;
      margin: 10px;
      width: 250px;
      height: 480px;
      outline:2px solid;
      outline-color: #b4c1ca;
      background: transparent;
      backdrop-filter: blur(20px);
      color: #fff;
      }

#animacion{
   
   color: #7a4545;
   white-space: nowrap;
   width: 100ch;
   animation: movimiento 10s steps(100);
   overflow:hidden;
  
 }

 @keyframes movimiento {
  from{width:0}
 }
 /*@keyframes movimiento {
  0%{margin-top:0; }
  10px{margin-top:20px; }
  20%{margin-top:40px; }
  30%{margin-top:0; }
 }*/

      .contenedor3{
        padding-top: 3%;
        padding-left: 2px;
        margin: 10px;
        width: 900px;
        height: 330px;
        max-width:1060px;
        outline:2px solid;
        outline-color: #b4c1ca;
        background: transparent;
        backdrop-filter: blur(20px);
        color: #7a4545;
        }

     img{
      
        width: 40%;
        height: 30%;
     
      
     }   

     .formulario{
      display: flex;
      justify-content: center;
     }   
   
    .boton{
      display: flex;
      justify-content: center;
    }
   /*fin de los estilos del contenedor */   
  footer{

    background-color: rgb(187, 97, 23);
    text-align:center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  section{
    background-color: aqua;
    text-align:center;
    position: absolute;
    bottom: 0;
    width: 100%;
    
   
   
  }